// Default breakpoints in case user does not define them
$bp-medium: 'medium';
$bp-large: 'large';
$bp-mdpi: 'mdpi';
$bp-hidpi: 'hidpi';
$bp-huge: 'huge';

$bp-768: 768;
$bp-1024: 1024;
$bp-1280: 1280;
$bp-1440: 1440;
$bp-1600: 1600;
$bp-1920: 1920;

$scaling-breakpoints: (
        $bp-768,
        $bp-1024,
        $bp-1280,
        $bp-1440,
        $bp-1600,
        $bp-1920
);

$breakpoints: (
        $bp-medium: (min-width: 768px),
        $bp-large: (min-width: 1024px),
        $bp-mdpi: (min-width: 1280px),
        $bp-hidpi: (min-width: 1440px),
        $bp-huge: (min-width: 1600px),
        $bp-768: (min-width: 768px),
        $bp-1024: (min-width: 1024px),
        $bp-1280: (min-width: 1280px),
        $bp-1440: (min-width: 1440px),
        $bp-1600: (min-width: 1600px),
        $bp-1920: (min-width: 1920px)
);

/// Responsive manager.
/// @access public
/// @param {String} $breakpoint - Breakpoint
/// @requires $breakpoints
@mixin respond-to($breakpoint) {
  $raw-query: map-get($breakpoints, $breakpoint);
  @if $raw-query {
    $query: if(type-of($raw-query) == 'string', unquote($raw-query), inspect($raw-query));

    @media #{$query} {
      @content;
    }
  } @else {
    @error 'No value found for `#{$breakpoint}`. '
         + 'Please make sure it is defined in `$breakpoints` map.';
  }
}

@mixin respond-within($bp-min, $bp-max) {
  @media (min-width: #{$bp-min}px) and (max-width: #{$bp-max - 1}px) {
    @content;
  }
}

/*
Responsive font size generator
 */
$font-min-mult: 0.2;
$font-bp-mults: (
        $bp-medium: 0.5,
        $bp-large: 0.6,
        $bp-mdpi: 0.75,
        $bp-hidpi: 1
);
$font-min-size: 16;
@mixin responsive-font-size($pxsize) {
  font-size: ($font-min-size + ($pxsize - $font-min-size) * $font-min-mult)/$font-min-size * 1rem;

  @each $breakpoint, $mult in $font-bp-mults {
    @include respond-to($breakpoint) {
      font-size: ($font-min-size + ($pxsize - $font-min-size) * $mult)/$font-min-size * 1rem;
    }
  }
}

/*
Scaling font size generator
 */
$scaling-min-width: 425;
$scaling-max-width: 1920;
$scaling-min-mult: 0.2;
@mixin scalable-font-size($pxsize) {
  font-size: ($font-min-size + ($pxsize - $font-min-size) * $scaling-min-mult)/$font-min-size * 1rem;

  @each $breakpoint in $scaling-breakpoints {
    @include respond-to($breakpoint) {
      $mult: (1 - $scaling-min-mult)/($scaling-max-width - $scaling-min-width) * ($breakpoint - $scaling-min-width) + $scaling-min-mult;
      font-size: ($font-min-size + ($pxsize - $font-min-size) * $mult)/$font-min-size * 1rem;
    }
  }
}

/*
Basic gallery layout with fixed gutter
This supersedes the responsive-gallery
 */
@mixin flex-gallery($num-columns, $gutter-size: 0%) {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  > * {
    width: 1/($num-columns) * (100% - ($num-columns - 1) * $gutter-size);
    box-sizing: border-box;

    $margin: ($num-columns - 1)/$num-columns * $gutter-size;
    margin-right: $margin;

    margin-bottom: $gutter-size;

    &:nth-child(#{$num-columns}n+1) {
      margin-right: $margin;
    }
    &:nth-child(#{$num-columns}n+#{$num-columns}) {
      margin-right: 0;
    }
  }
}

/*
Responsive gallery layout
This is deprecated
 */
@mixin responsive-gallery($gutter-size, $margin-bottom, $default-num-columns, $breakpoints-num-columns: ()) {
  display: flex;
  justify-content: flex-start;
  align-content: space-between;
  flex-wrap: wrap;
  & > * {
    margin-bottom: $margin-bottom;

    width: (100% - ($default-num-columns - 1)*$gutter-size) / $default-num-columns;
    &:nth-child(n) {
      margin-right: $gutter-size;
    }
    &:nth-child(#{$default-num-columns}n) {
      margin-right: 0;
    }

    @each $breakpoint, $num_columns in $breakpoints-num-columns {
      @include respond-to($breakpoint) {
        width: (100% - ($num_columns - 1)*$gutter-size) / $num_columns;
        &:nth-child(n) {
          margin-right: $gutter-size;
        }
        &:nth-child(#{$num_columns}n) {
          margin-right: 0;
        }
      }
    }
  }
}

@mixin absolute-expand {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

@mixin absolute-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/*
This is deprecated
Font properties are better maintained separately and explicitly
 */
@mixin type($font-family, $size, $weight: normal, $height: initial, $spacing: initial) {
  $font-base: 1rem;
  $font-base-design: 16;
  font-family: $font-family, sans-serif;
  font-weight: $weight;
  line-height: $height;
  letter-spacing: $spacing;
  font-size: $size * $font-base/$font-base-design;
}

@mixin responsive-left-right($left-selector, $right-selector, $left-basis, $right-basis, $margin, $breakpoint) {
  @include respond-to($breakpoint) {
    display: flex;
    align-items: center;
    justify-content: space-between;

    #{$left-selector} {
      flex-basis: $left-basis;
    }

    #{$right-selector} {
      flex-basis: $right-basis;
    }

    &:nth-child(2n+1) {
      #{$left-selector} {
        order: 1;
        margin-right: $margin;
      }
      #{$right-selector} {
        order: 2;
      }
    }
    &:nth-child(2n) {
      #{$right-selector} {
        order: 1;
        margin-right: $margin;
      }
      #{$left-selector} {
        order: 2;
      }
    }
  }

  #{$left-selector} {
    width: 100%;

    img {
      width: 100%;
      height: auto;
    }
    @include respond-to('large') {
      width: initial;
    }
  }
}

@mixin leftright($left-selector, $right-selector, $left-width: 50%, $right-width: 50%, $breakpoint: 'large') {
  overflow: hidden;

  @include respond-to($breakpoint) {
    #{$left-selector} {
      float: left;
      width: $left-width;
      margin-right: 100% - $left-width - $right-width;
    }
    #{$right-selector} {
      float: left;
      width: $right-width;
    }
  }
}

@mixin hamburger-styles($color-foreground) {
  cursor: pointer;
  $line-thickness: 10%;
  $line-gap: 15%;
  $seg1: (100% - 3 * $line-thickness - 2 * $line-gap) / 2;
  $seg2: $seg1 + $line-thickness + $line-gap;
  $seg3: $seg2 + $line-thickness + $line-gap;
  background: linear-gradient(to bottom, transparent 0%, transparent $seg1, $color-foreground $seg1, $color-foreground $seg1+$line-thickness, transparent $seg1+$line-thickness, transparent $seg2, $color-foreground $seg2, $color-foreground $seg2+$line-thickness, transparent $seg2+$line-thickness, transparent $seg3, $color-foreground $seg3, $color-foreground $seg3+$line-thickness, transparent $seg3+$line-thickness);
}

@mixin wp-nav-bar-standard(
  $color-inactive: white,
  $color-active: red,
  $side-margin: 0,
  $background-color: transparent,
  $transition-duration: 300ms,
  $nav-menu-button-size: 3em,
  $nav-bar-respond: 'mdpi',
  $nav-bar-height: 96px,
  $logo-height: 2.5em,
  $nav-menu-margin: 2em,
  $vertical-padding: 60px,
  $logo-selector: "#site-logo",
  $button-selector: "#nav-menu-button",
  $container-selector: ".nav-menu-container",
  $primary-menu-selector: "ul#primary-menu",
  $secondary-menu-selector: "ul#secondary-menu"
) {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: $nav-bar-height;
  z-index: 99;
  transition: $transition-duration all ease-out;
  &.hidden {
    top: -1 * $nav-bar-height;
    transition: $transition-duration all ease-out;
  }
  &.hovering {
    //box-shadow: 0 1px 5px $color-gray;
  }
  &:before {
    content: '';
    position: absolute;
    @include absolute-expand;
    background: $background-color;
    z-index: -1;
  }
  #{$logo-selector} {
    position: absolute;
    left: $side-margin;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;

    img,
    svg {
      height: $logo-height;
      width: auto;
    }
  }
  #{$button-selector} {
    border: none;
    outline: none;
    z-index: 1;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: $side-margin;
    width: $nav-menu-button-size;
    height: $nav-menu-button-size;
    @include hamburger-styles($color-inactive, $color-active);
    @include respond-to($nav-bar-respond) {
      display: none;
    }
  }
  #{$container-selector} {
    position: fixed;
    top: $nav-bar-height;
    transform: translateY(-100%);
    left: 0;
    right: 0;
    padding-top: $vertical-padding;
    padding-bottom: $vertical-padding;
    z-index: -2;
    visibility: hidden;
    background: $background-color;
    transition: $transition-duration all ease-out;
    &.toggled {
      transition: $transition-duration all ease-out;
      transform: translateY(0);
      visibility: visible;
    }
    @include respond-to($nav-bar-respond) {
      position: static;
      transition: none;
      transform: none;
      z-index: 1;
      visibility: visible;
      opacity: 1;
      padding-top: 0;
      padding-bottom: 0;
      height: 100%;
      top: initial;
    }
    #{$primary-menu-selector} {
      display: flex;
      flex-direction: column;
      justify-content: center;
      @include respond-to($nav-bar-respond) {
        position: absolute;
        top: 0;
        left: 50%;
        height: 100%;
        transform: translate(-50%, 0);
        flex-direction: row;
        justify-content: space-around;
      }
      li {
        cursor: pointer;
        align-self: center;
        margin: 1.5em $nav-menu-margin;
        @include transition-standard;

        &.current-menu-item {
          border-color: $color-inactive;
        }

        &:hover {
          @include transition-standard;
          a, a:visited {
          }
        }
        @include respond-to($nav-bar-respond) {
          margin: 0 $nav-menu-margin;
          height: 100%;
        }
        a, a:visited {
          color: $color-inactive;
          text-transform: uppercase;

          @include respond-to($nav-bar-respond) {
            display: flex;
            align-items: center;
            height: 100%;
          }
        }
      }
    }
    #{$secondary-menu-selector} {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      @include respond-to($nav-bar-respond) {
        display: flex;
        flex-direction: row;
        position: absolute;
        top: 50%;
        right: $side-margin-narrow;
        transform: translateY(-50%);
      }

      li {
        cursor: pointer;
        margin: 1.5em $nav-menu-margin;

        a, a:visited {
          @include transition-standard;
          text-transform: uppercase;
          color: $color-active;
          border: 2px solid $color-active;
          border-radius: 5em;
          padding: 0.5em 1.5em;

          &:hover {
            @include transition-standard;
            color: $background-color;
            border-color: $color-active;
            background: $color-active;
          }
        }
      }
    }
  }
}

